<?xml version="1.0"?>
<!-- 
/**
 * O2TI Brazilian Customer.
 *
 * Copyright © 2024 O2TI. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * @license   See LICENSE for license details.
 */
 -->
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="brazilian_format" xsi:type="object">O2TI\BrazilianCustomer\Console\Command\BrazilianFormatAddress</item>
                <item name="sanitize_consumers" xsi:type="object">O2TI\BrazilianCustomer\Console\Command\SanitizeConsumers</item>
            </argument>
        </arguments>
    </type>
</config>